* {padding:0;  list-style: none; text-decoration: none;
font-family: 'Nanum Myeongjo', serif;}

.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

html {background: #f0ecdd;}
body {margin: 0 auto; height:auto; width:1200px;}

#header {text-align: center; padding:10px; background: #fff; margin-top:50px; margin-bottom: 20px;}
#header a {color: #444;}

#list {height:auto;}
#list div {float:left; width:250px; border: solid 15px #fff; margin:10px;}
#list div:hover {border-color: #dbafad;} 
#list img{float:left; width:250px;}
#list .list1 {}
#list .list2 {}

/*layer*/
.layer1 {display:none; width:700px; height: 500px; margin:0 auto; border: solid 2px; z-index: 1200; position: absolute; left:50%; top:50%; margin-left: -370px; margin-top:-400px; background: #fff; padding:20px;}
.layer1 .close1 {position:absolute; bottom:20px; right:20px;}

.layer2 {display:none; width:700px; height: 500px; margin:0 auto; border: solid 2px; z-index: 1200; position: absolute; left:50%; top:50%; margin-left: -370px; margin-top:-400px; background: #fff; padding:20px;}
.layer2 .close2 {position:absolute; bottom:20px; right:20px;}

.layer3 {display:none; width:700px; height: 500px; margin:0 auto; border: solid 2px; z-index: 1200; position: absolute; left:50%; top:50%; margin-left: -370px; margin-top:-400px; background: #fff; padding:20px;}
.layer3 .close3 {position:absolute; bottom:20px; right:20px;}

.layer4 {display:none; width:700px; height: 500px; margin:0 auto; border: solid 2px; z-index: 1200; position: absolute; left:50%; top:50%; margin-left: -370px; margin-top:-400px; background: #fff; padding:20px;}
.layer4 .close4 {position:absolute; bottom:20px; right:20px;}

.layer5 {display:none; width:700px; height: 500px; margin:0 auto; border: solid 2px; z-index: 1200; position: absolute; left:50%; top:50%; margin-left: -370px; margin-top:-400px; background: #fff; padding:20px;}
.layer5 .close5 {position:absolute; bottom:20px; right:20px;}

